@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  height: 100vh;
  margin: 0;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  /* uppercase; */
  text-transform: uppercase;
  margin: 0;
}
.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) scale(1);
  text-align: center;
}
.counter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide 0.3s;
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.nums {
  position: relative;
  color: #3498db;
  font-size: 50px;
  width: 120px;
  height: 50px;
  overflow: hidden;
}
.nums span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

.nums span.in {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn 0.5s;
}
@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.nums span.out {
  transform: translate(-50%, -50%) rotate(-120deg);
  animation: goOut 0.5s;
}
@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

.final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
}
.final.show {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.3s;
}

#replay {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  transition: padding-right 0.3s;
}

#replay:focus {
  outline: none;
}

#replay:hover {
  padding-right: 30px;
}

#replay::after {
  content: "\00bb";
  position: absolute;
  right: -10px;
  transition: right 0.5s;
}
#replay:hover::after {
  right: 5px;
}
